<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Images <small>/r/aww</small></h2>
            {{#if slice}}
                <div class="grid">
                    {{#if slice.children}}
                        {{#each slice.children}}
                                <a href="{{ data.url}}">
                                    <img src="{{ data.thumbnail}}" class="responsive" />
                                </a>
                        {{/each}}
                    {{/if}}
                </div>
            {{else}}
                <p>No images were found</p>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{#if slice.before}}<a href="/id/{{ slice.before }}">Previous</a>{{/if}}
        </div>
        <div class="col-sm-6">
            {{#if slice.after}}<a href="/id/{{ slice.after }}">After</a>{{/if}}
        </div>
    </div>
</div>
